<div class="stars">
</div>
<h2 class="logo">Mixed</h2>

<link href='https://fonts.googleapis.com/css?family=Lato:900,400|Shadows+Into+Light' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Lato:900,400|Shadows+Into+Light' rel='stylesheet' type='text/css'>
